//colors
$text-color-cyan: #4cc9f0;
$text-color-info: #003f88;
$text-color-red: #f72585;
$text-color-white: #e9fff9;
$color-gradient: linear-gradient(#e0aaff, #c77dff, #9d4edd, #7b2cbf);
$color-blue: #4895ef;
$color-pink: #e0aaff;
$color-cyan: #4cc9f0;
$color-violet: #3c096c;

//transformation
$height: 50px; 